<header>
	<div class="topstrip"></div>
	<div class="topstripcontainer">
		<%= link_to logo, root_path %>
		<nav class="round">
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Projects", projects_path %></li>
				<li><%= link_to "Sign in", '#' %></li>
			</ul>
		</nav>
	</div>
</header>